@charset "utf-8";
@use "sass:color";
@use "breakpoints";

@mixin themed-section() {
  background: var(--background);
  color: #fafafa;

  a {
    color: #fafafa;
    &:hover,
    &:active {
      color: #fafafa;
    }
    &.button {
      border-color: #fafafa;
      color: #fafafa;
      svg {
        fill: #fafafa;
      }
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--color-text);
  }
}

@mixin card {
  border-radius: 8px;
  border: 1px solid #babbbc;
  background: #fafafa;
  padding: 24px;
  position: relative;

  @include breakpoints.down("md") {
    padding: 16px 12px;
  }

  @include breakpoints.down("sm") {
    padding: 8px 6px;
  }
}

@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  src:
    url("/assets/fonts/dm-sans-latin-400-normal.woff2") format("woff2"),
    url("/assets/fonts/dm-sans-latin-400-normal.woff") format("woff");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212,
    U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  src:
    url("/assets/fonts/dm-sans-latin-ext-400-normal.woff2") format("woff2"),
    url("/assets/fonts/dm-sans-latin-ext-400-normal.woff") format("woff");
  unicode-range:
    U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304,
    U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-stretch: 100%;
  src:
    url("/assets/fonts/dm-sans-latin-500-normal.woff2") format("woff2"),
    url("/assets/fonts/dm-sans-latin-500-normal.woff") format("woff");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212,
    U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-stretch: 100%;
  src:
    url("/assets/fonts/dm-sans-latin-ext-500-normal.woff2") format("woff2"),
    url("/assets/fonts/dm-sans-latin-ext-500-normal.woff") format("woff");
  unicode-range:
    U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304,
    U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

:root {
  --width-content: 1300px;
  --color-bg: #fafafa;
  --color-border: transparent;
  --font-family-heading: "DM Sans", var(--font-family-heading);
  --font-family-body: "DM Sans", var(--font-family-body);
  --border: 1px solid #babbbc;
  --border-radius: 8px;
  --border-radius-small: 8px;
}

h1,
h2,
h3 {
  font-weight: 500;
}

article#content {
  --color-link: #0e5ba7;
  border: none;
}

article#content,
.full-width,
.footer {
  display: grid;
  grid-template-columns:
    [full-width-start]
    1fr
    [content-start]
    1110px
    [content-end]
    1fr
    [full-width-end];

  @include breakpoints.down("xl") {
    grid-template-columns:
      [full-width-start]
      32px
      [content-start]
      1fr
      [content-end]
      32px
      [full-width-end];
  }

  @include breakpoints.down("md") {
    grid-template-columns:
      [full-width-start]
      16px
      [content-start]
      1fr
      [content-end]
      16px
      [full-width-end];
  }

  @include breakpoints.down("sm") {
    grid-template-columns:
      [full-width-start]
      8px
      [content-start]
      1fr
      [content-end]
      8px
      [full-width-end];
  }

  & > section {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  & > *:not(.breakout, .full-width) {
    grid-column: content;
    max-width: 1200px;
    min-width: 0;
  }
  & > .breakout {
    grid-column: breakout;
  }
  & > .full-width {
    grid-column: full-width;
  }
}

placeholder {
  display: block;
  aspect-ratio: 3/2;
  background: #c0c0c0;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

button,
.button,
input[type="submit"] {
  display: flex;
  padding: 14px 24px;
  justify-content: center;
  gap: 16px;
  align-items: center;
  border-radius: 16px;
  border: 1px solid transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background: transparent;
  white-space: nowrap;
  box-shadow: 0 0px 2px black;

  &:hover {
    background: transparent;
    border-width: 1px;
    text-decoration: none;
  }

  &.white {
    svg {
      fill: #181a1f;
    }
  }

  &.red {
    color: #fafafa;
    background: #ee3324;
    border: none;
    box-shadow: 0 0px 2px #ee332496;
    svg {
      fill: #fafafa;
    }
  }

  &.blue {
    color: #fafafa;
    background: #1c54e3;
    box-shadow: 0 0px 2px #1c54e396;
  }
}

body {
  --color-text: #181a1f;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0;
  @include breakpoints.up("md") {
    scroll-padding-top: 100px;
  }
  &.item {
    article#content {
      background: #fafafa;

      @media screen and (min-width: 769px) {
        .current-image {
          margin-bottom: 16px;
        }
        ul.image-gallery {
          gap: 16px;
          li {
            width: calc((100% - 32px) / 3);
          }
        }
      }

      .specs dl {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 8px;

        & > div {
          display: grid;
          grid-template-columns: 48px 1fr;
          grid-template-areas: "icon key" "icon value";
          padding: 8px;
          gap: 0 16px;
          border-radius: 8px;
          background: #efefef;
          svg {
            grid-area: icon;
            justify-self: center;
            align-self: center;
            display: flex;
            height: 22px;
            border-radius: 4px;
            background: #fafafa;
            border: 10px solid #fafafa;
            box-sizing: content-box;
            width: 22px;
          }
          & > dt,
          & > dd {
            padding: 0;
            margin: 0;
          }
          & > dt {
            grid-area: key;
            font-size: 14px;
          }
          & > dd {
            grid-area: value;
            font-size: 18px;
            font-weight: 500;
          }
        }
      }
      .features ul,
      ul.big-features {
        list-style-type: none;
        padding-left: 0;
        li {
          padding-left: 40px;
          padding-bottom: 8px;
          position: relative;
          &::before {
            content: "";
            width: 24px;
            height: 24px;
            display: block;
            background-image: url("/assets/icons/tick.svg");
            background-position: center center;
            background-repeat: no-repeat;
            background-color: #e1f1f6;
            border-radius: 100%;
            position: absolute;
            left: 0;
            top: 0;
          }
        }
      }
      .big-specs {
        background-color: #009dd7;
        color: white;
        padding: 64px 32px;
        line-height: 32px;
        & > div {
          display: flex;
          flex-direction: row;
          gap: 16px;
          & > dt,
          & > dd {
            padding: 0;
            margin: 0;
          }
          & > dt {
            width: 8rem;
            flex-shrink: 0;
          }
          & > dd {
            text-align: left;
          }
        }
      }
      .big-features {
        padding: 64px 32px;
        line-height: 32px;
      }
    }
  }
  &.products,
  &.category {
    article#content ul.items li {
      @include card;
    }
  }
  &.locations {
    article#content ul.items li {
      @include card;
      width: 367px;
      padding-top: 166px;
      gap: 8px;
      .image-link,
      placeholder {
        position: absolute;
        top: 0;
        left: 0;
        width: 367px;
        height: 154px;
        margin: 0;
      }
    }
  }
  & > .cart-icon {
    background: #fafafa;
    &:hover {
      background: #fff;
    }
  }
}

.quote-header {
  padding: 32px 16px;
  text-align: center;
}

.quote-steps-progress {
  @include card;
  --color-bg: #009dd7;
  --border: 2px solid #009dd7;
  --color-text: #fff;
  ul {
    justify-content: space-around;
    align-items: flex-end;
    margin: 0;
    padding: 0;
    &::before {
      background: #009dd7;
      bottom: 16px;
      top: auto;
    }
  }
}

.quote-price {
  padding: 0;
  & > li {
    padding: 8px 16px;
    &:first-child {
      background: #009dd7;
      color: #fff;
      display: flex;
      padding: 32px 32px 16px;
      flex-direction: column;
      align-items: center;
    }
    & > ul {
      display: flex;
      flex-direction: column;
      gap: 8px;
      & > li {
        margin: 0;
        padding: 0;
        gap: 8px;

        span[data-field="name"] {
          font-weight: 500;
        }
      }
    }
  }
}

.quote-cart-item-actions {
  button,
  input {
    border-color: #ccc;
    box-shadow: none;
  }
}

#top-bar {
  display: flex;
  padding: 3px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  background: #ee3324;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  border: none;

  svg#mic {
    width: 13px;
    height: 12px;
    fill: #fff;
  }
}

body.horizontal-nav main {
  padding: 0;
  border: none;
  width: 100%;

  article {
    padding: 0;
  }

  & > nav {
    border: 0;
    font-size: 14px;
    font-weight: 500;
    display: grid;

    #logo {
      grid-area: logo;
      width: 53px;
      display: inline-block;
    }

    & > ul {
      grid-area: links;
    }

    #nav-phone {
      grid-area: phone;
    }

    #nav-email {
      grid-area: email;
    }

    #nav-phone,
    #nav-email {
      display: flex;
      align-items: center;
      gap: 8px;
    }

    #nav-quote {
      grid-area: quote;
      border-radius: 5000px;
      background: #009dd7;
      padding: 8px 16px;
      color: #fff;
      font-weight: 500;
      line-height: 24px;
    }

    .cart-icon {
      grid-area: cart;
      position: relative;
      bottom: auto;
      left: auto;
      padding: 0;
      border: none;
      background: transparent;
      color: #ee3324;
      align-self: center;
      box-shadow: none;
      span:not(.cart-count) {
        display: none;
      }
    }

    @include breakpoints.down("md") {
      // mobile nav
      gap: 0 8px;
      height: auto !important;
      padding-right: 60px !important;
      grid-template-columns: 40px 1fr;
      grid-template-areas:
        "logo phone cart"
        "logo email cart";

      #logo {
        width: 40px;
      }
      #nav-phone {
        align-self: end;
      }
      #nav-email {
        align-self: start;
      }
      #nav-quote {
        display: none;
      }
    }

    @include breakpoints.up("md") {
      // sticky desktop nav
      padding: 8px;
      margin: 32px;
      position: sticky;
      top: 16px;
      z-index: 100;
      background: #fff;
      gap: 16px;
      grid-template-columns: auto 1fr auto auto auto auto;
      grid-template-areas:
        "logo   .    phone email quote cart"
        "links links links links links links";
      align-items: center;
    }

    @include breakpoints.up("lg") {
      & > ul {
        justify-content: flex-start !important;
        & > li:nth-child(3):hover {
          & > a {
            font-weight: 500;
          }
          & > ul {
            display: flex;
            flex-direction: row;
            width: 590px;
            justify-content: space-between;
            & > li > ul {
              display: block;
              position: relative;
              left: auto;
              top: auto;
              margin: 0;
              padding: 0;
              border: 0;
              font-size: 11px;
              font-weight: 400;
            }
          }
        }
      }
    }

    @include breakpoints.up("xl") {
      grid-template-areas: "logo links phone email quote cart";
    }
  }
}

.homepage-header {
  --background:
    linear-gradient(77deg, #181a1f 27.31%, rgba(24, 26, 31, 0) 80.67%),
    url("/assets/homepage-header-background.jpg");
  --color-text: #fdfdfd;
  --color-link: #fdfdfd;
  --color-link-hover: #fdfdfd;
  @include themed-section;

  background-size: cover;
  position: relative;

  .homepage-header-inner {
    display: flex;
    flex-direction: column;
    gap: 16px;

    & > * {
      padding: 0;
      margin: 0;
    }
  }

  h1 {
    max-width: 650px;
    font-size: 52px;
    line-height: 52px;
  }
  .google {
    display: grid;
    grid-template-columns: 40px 1fr;
    gap: 0 8px;
    grid-template-areas: "logo header" "logo rating" "logo count";
    position: relative;
    font-size: 10px;
    line-height: 15px;
    svg {
      grid-area: logo;
      width: 40px;
      height: 40px;
      align-self: center;
    }
    strong {
      grid-area: header;
    }
    span {
      grid-area: rating;
    }
    a {
      grid-area: count;
    }
  }
  .button {
    background: transparent;
    border-color: var(--color-border);
  }
  .items {
    li {
      position: relative;
      width: 270px;
      height: 270px;
      margin: 0;
      border-radius: 8px;
      overflow: hidden;
      .image-link {
        width: 270px;
        height: 270px;
        position: absolute;
        top: 0;
        left: 0;
        padding: 0;
        margin: 0;
        background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 0.8) 100%
        );
        &::before {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 270px;
          height: 270px;
          z-index: 2;
          opacity: 0;
          transition: opacity 0.3s ease-in-out;
          background: linear-gradient(
            180deg,
            rgba(238, 51, 36, 0) 0%,
            #ee3324c7 100%
          );
        }
        &:hover::before {
          opacity: 1;
        }
      }
      .image-wrapper,
      img {
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        width: 270px;
        height: 270px;
        padding: 0;
        margin: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
      h3 {
        color: #fafafa;
        position: absolute;
        font-size: 14px;
        line-height: 14px;
        bottom: 0;
        left: 0;
        right: 0;
        width: auto;
        padding: 8px 16px;
        min-height: 0;
        height: 30px;
        z-index: 2;
        text-shadow: 1px 0px 2px black;
      }
      p {
        text-align: right;
      }
    }
  }
  .slider-nav {
    a {
      background-color: #fdfdfd;
      color: #111;
      font-size: 36px;
    }
    @include breakpoints.up("md") {
      position: absolute;
      top: 16px;
      right: 80px;
      display: flex;
      flex-direction: column;
      margin: 0;
    }
  }
}

.homepage-intro {
  .container {
    & > * {
      max-width: 700px;
      text-align: left;
    }
    a.button {
      margin-top: 32px;
    }
  }
}

.homepage-testimonials {
  @include breakpoints.up("sm") {
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr min-content;
    grid-template-areas:
      "title title"
      "left right"
      "reviews reviews";

    h2 {
      grid-area: title;
    }
    .left {
      grid-area: left;
    }
    .right {
      grid-area: right;
    }
    .slider-container {
      grid-area: reviews;
    }
  }
  .items {
    h3,
    p,
    ul {
      padding: 0;
      margin: 0;
    }
  }
}

.homepage-testimonials,
body.reviews {
  ul.items {
    display: flex;
    list-style-type: none;
    padding: 0;
    gap: 16px;
    flex-direction: row;
    li {
      @include card;
      gap: 16px;
      width: 340px;
      display: grid;
      grid-template-areas: "rating" "content" "name" "avatar";

      & > .rating {
        grid-area: rating;
      }
      & > .name {
        grid-area: name;
        font-weight: 500;
      }
      & > blockquote {
        grid-area: content;
        text-align: left;
      }
      & > img {
        grid-area: avatar;
        border-radius: 100%;
        width: 40px;
        border: 2px solid white;
      }

      & > * {
        padding: 0;
        margin: 0;
      }
    }
  }
  blockquote {
    color: #1a1a1a;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
    aspect-ratio: 4/3;
    overflow-y: auto;
  }
}

.homepage-brands {
  padding: 64px 0;
  background: #fafafa;

  .row {
    display: flex;
    flex-direction: row;
    align-items: center;

    @include breakpoints.down("md") {
      flex-direction: column;
      gap: 32px;
    }
  }

  h2 {
    padding: 0;
    margin: 0;
    width: 270px;
    flex-shrink: 0;
    font-size: 24px;
    line-height: 32px;
    text-align: left;
    padding-left: 32px;
    padding-right: 64px;

    @include breakpoints.down("md") {
      width: auto;
      text-align: center;
      padding: 0 32px;
    }
  }

  .brands-scroll-container {
    flex: 1;
    min-width: 0;
    overflow: hidden;
    position: relative;

    &::before,
    &::after {
      content: "";
      display: block;
      width: 5px;
      position: absolute;
      top: 0;
      bottom: 0;
    }
    &::before {
      left: 0;
      background: linear-gradient(
        90deg,
        rgba(250, 250, 250, 1) 0%,
        rgba(250, 250, 250, 0) 100%
      );
    }
    &::after {
      right: 0;
      background: linear-gradient(
        90deg,
        rgba(250, 250, 250, 1) 0%,
        rgba(250, 250, 250, 1) 100%
      );
    }
  }

  .brands-scroll {
    display: flex;
    width: max-content;
    animation: scroll-brands 40s linear infinite;

    &:hover {
      animation-play-state: paused;
    }

    & > div,
    & > ul {
      display: flex;
      flex-shrink: 0;
    }
  }

  ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-direction: row;
    gap: 64px;
    flex-shrink: 0;

    li {
      flex-shrink: 0;
      display: flex;
      align-items: center;

      .image-wrapper {
        height: 50px;
        width: auto;
        object-fit: contain;
        transition: all 0.3s ease;
        align-content: center;
      }
    }
  }
}

@keyframes scroll-brands {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.homepage-how-it-works {
  padding: 128px 32px;
  --color-text: #fff;
  --color-link: #fff;
  --color-link-hover: #fff;
  --background: #009dd7;
  @include themed-section;

  .grid {
    display: grid;
    grid-template-areas: "header header" "left image" "link image";
    justify-content: center;
    align-items: center;
    gap: 10px;
    & > h2 {
      grid-area: header;
    }
    & > ol {
      grid-area: left;
    }
    & > a {
      grid-area: link;
    }
    & > .image-wrapper {
      grid-area: image;
      img {
        background: #009dd7;
      }
    }
  }

  @include breakpoints.down("md") {
    padding: 32px;
    .image-wrapper {
      display: none;
    }
  }

  ol {
    list-style-type: none;
    padding: 0;
    position: relative;
    li {
      opacity: 0.6;
      transition: 0.3s ease-in-out opacity;
      padding: 0 0 0 24px;
      position: relative;
      border-left: 2px solid;
      &:hover {
        opacity: 1;
        &::before {
          background-color: white;
        }
      }
      &::before {
        transition: 0.3s ease-in-out background-color;
        display: block;
        content: "";
        width: 16px;
        height: 16px;
        position: absolute;
        border: 2px solid white;
        background-color: #009dd7;
        border-radius: 100%;
        top: 0;
        left: -11px;
        outline: 2px solid #009dd7;
      }
    }
  }
}

#footer-contact-block {
  background-color: white;
  text-align: center;
  padding: 64px 0;

  ol {
    display: flex;
    gap: 32px;
    list-style-type: none;
    flex-wrap: wrap;
    padding: 0;
    margin: 64px 0 0 0;

    @include breakpoints.down("lg") {
      flex-direction: column;
    }

    li {
      @include card;
      display: flex;
      gap: 16px;
      flex-direction: column;
      align-items: center;
      flex: 1 0 0;

      svg {
        width: 64px;
        height: 64px;
        padding: 16px;
        border-radius: 8px;
        fill: #fff;
        background: #009dd7;
      }
      h3,
      p {
        padding: 0;
        margin: 0;
      }
      @include breakpoints.down("lg") {
        display: grid;
        grid-template-areas: "icon subtitle" "title subtitle";
        grid-template-columns: 200px 1fr;
        svg {
          grid-area: icon;
          align-self: end;
          justify-self: center;
        }
        h3 {
          grid-area: title;
          align-self: start;
        }
        p {
          grid-area: subtitle;
          text-align: left;
        }
      }
    }
  }
  p {
    display: flex;
    gap: 16px;
    justify-content: center;
    flex-wrap: wrap;
  }
}

ul.items {
  gap: 16px;
  li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    border-radius: 8px;
    & > * {
      margin: 0;
    }
    h3 {
      line-height: 18px;
      height: 36px;
    }
    .image-link,
    placeholder {
      aspect-ratio: 3/2;
      margin: 24px 0;
      width: 100%;
      overflow: hidden;
    }
    .price {
      color: #009dd7;
      font-family: "DM Sans";
      font-size: 22px;
      font-style: normal;
      font-weight: 500;
      margin-bottom: 8px;
    }
    // 10px = 32px / 3 rows, ish
    width: calc(33% - 10px);
    @include breakpoints.down("md") {
      // 8px = 16px / 2 rows
      width: calc(50% - 8px);
    }
    @include breakpoints.down("sm") {
      width: 100%;
    }
  }
}

.homepage-products {
  padding: 128px 32px;
  h2 {
    font-size: 44pxc;
    padding: 0;
    margin: 0 0 32px;
    display: flex;
    gap: 32px;
    align-items: center;
    a {
      font-size: 16px;
      font-weight: 500;
      display: flex;
      gap: 8px;
      align-items: center;
      svg {
        width: 20px;
        height: 20px;
        fill: var(--color-text);
      }
    }
  }
  li {
    @include card;
  }
}

#footer-contact {
  border-top: 4px solid #ff0004;
  padding: 64px 16px;
  display: grid;
  grid-template-columns: 50px 1fr;
  gap: 0 16px;
  font-weight: 700;
  padding-bottom: 0;

  #footer-logo {
    aspect-ratio: 42/53;
    grid-area: logo;
  }
  #footer-phone {
    grid-area: phone;
  }
  #footer-email {
    grid-area: email;
  }
  #footer-times {
    grid-area: times;
  }
  #footer-socials {
    font-weight: 500;
    grid-area: socials;
  }

  grid-template-areas:
    "logo phone"
    "logo email"
    "logo times"
    "socials socials";

  @include breakpoints.up("md") {
    gap: 0 32px;
    grid-template-columns: 50px max-content 1fr;
    grid-template-areas:
      "logo phone email"
      "logo times socials";
  }

  @include breakpoints.up("lg") {
    grid-template-columns: 50px max-content max-content max-content 1fr;
    grid-template-areas: "logo phone email times socials";
    #footer-phone,
    #footer-email,
    #footer-times,
    #footer-socials {
      align-content: center;
    }
  }

  #footer-socials {
    font-weight: 500;
    font-size: 18px;
    display: flex;
    align-items: center;
    margin-top: 16px;
    gap: 32px;
    justify-content: center;

    @include breakpoints.up("md") {
      margin: 0;
      justify-content: right;
    }

    .socials {
      display: flex;
      padding: 0;
      margin: 0;
      flex-direction: row;
      gap: 8px;
      list-style-type: none;
      img {
        width: 26px;
      }
    }
  }
}

#footer-links {
  display: flex;
  flex-direction: column;
  padding-top: 0;
  h2 {
    padding: 0;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  @include breakpoints.up("md") {
    justify-content: space-between;
    flex-direction: row;
    gap: 16px;
  }
}

.items {
  --color-link: #111;
  &.border {
    border-radius: 16px;
    border: 1px solid #babbbc;
    background: #fafafa;
    padding: 32px;
  }
  li {
    text-align: left;
    h3 {
      line-height: 32px;
      font-size: 20px;
    }
  }
}

.faqs {
  @include breakpoints.up("md") {
    column-count: 2;
  }
  dt {
    padding: 0;
    break-inside: avoid;
    break-after: avoid;
  }
  dd {
    margin: 0 0 2rem;
  }
}

.slider-nav {
  display: flex;
  flex-direction: row;
  gap: 16px;
  a {
    display: block;
    width: 64px;
    height: 64px;
    font-size: 36px;
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif;
    color: #181a1f;
    border-radius: 100%;
    border: 1px solid #babbbc;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      border-color: #181a1f;
      color: #181a1f;
      background-color: white;
      text-decoration: none;
    }

    &[disabled] {
      color: #babbbc;
    }
  }
}

div.fun-pro-item {
  background: #fafafa;

  .inner {
    @include breakpoints.up("md") {
      display: grid;
      gap: 16px;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(13, auto);
      & > * {
        padding: 0;
        margin: 0;
      }
    }
  }
  #tabs {
    @include card;
    background: white;

    .tab {
      width: fit-content;
      border-bottom: 2px solid transparent;
      transition: border-color 0.3s ease-in-out;
      &.active,
      &:active,
      &:hover {
        border-bottom-color: #009dd7;
        text-decoration: none;
      }
    }
  }
}
