@charset "utf-8";
@use "sass:color";
@use "breakpoints";

@mixin themed-section() {
  background: var(--background);
  color: #fdfdfd;

  a {
    color: #fafafa;
    &:hover,
    &:active {
      color: #fafafa;
    }
    &.button {
      border-color: #fafafa;
      color: #fafafa;
      svg {
        fill: #fafafa;
      }
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--color-text);
  }
}

@mixin card {
  border-radius: 8px;
  border: 1px solid #babbbc;
  background: #fafafa;
  padding: var(--gap-items);
  position: relative;
}

@mixin timeline-list($dot-color: #009dd7, $dot-size: 16px) {
  list-style-type: none;
  padding: 0 0 0 10px;
  position: relative;

  li {
    opacity: 0.6;
    transition: 0.3s ease-in-out opacity;
    padding: 0 0 0 24px;
    position: relative;
    border-left: 2px solid;

    &:hover {
      opacity: 1;
      &::before {
        background-color: white;
      }
    }

    &::before {
      transition: 0.3s ease-in-out background-color;
      display: block;
      content: "";
      width: $dot-size;
      height: $dot-size;
      position: absolute;
      border: 2px solid white;
      background-color: $dot-color;
      border-radius: 100%;
      top: 0;
      left: calc(($dot-size / 2 + 3px) * -1);
      outline: 2px solid $dot-color;
    }
  }
}

@mixin section-padding {
  padding: var(--section-padding) 0;
}

@mixin heading {
  font-size: 44px;
  font-weight: 500;
  line-height: 58px;
  margin: 0;
  padding: 0;
}

@mixin button-base {
  box-shadow: none;
  font-weight: 500;
  &:hover {
    box-shadow: none;
    font-weight: 500;
  }
}

@mixin button-blue {
  @include button-base;
  color: #fafafa;
  background: #1c54e3;
  border: none;
  svg {
    fill: #fafafa;
  }
}

@mixin button-red {
  @include button-base;
  color: #fafafa;
  background: #ee3324;
  border: none;
  svg {
    fill: #fafafa;
  }
}

@mixin button-white {
  @include button-base;
  color: #181a1f;
  background: #fff;
  border: 1px solid #babbbc;
  svg {
    fill: #181a1f;
  }
}

@mixin button-white-transparent {
  @include button-base;
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
  svg {
    fill: #fff;
  }
}

@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  src:
    url("/assets/fonts/dm-sans-latin-400-normal.woff2") format("woff2"),
    url("/assets/fonts/dm-sans-latin-400-normal.woff") format("woff");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212,
    U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  src:
    url("/assets/fonts/dm-sans-latin-ext-400-normal.woff2") format("woff2"),
    url("/assets/fonts/dm-sans-latin-ext-400-normal.woff") format("woff");
  unicode-range:
    U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304,
    U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-stretch: 100%;
  src:
    url("/assets/fonts/dm-sans-latin-500-normal.woff2") format("woff2"),
    url("/assets/fonts/dm-sans-latin-500-normal.woff") format("woff");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212,
    U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-stretch: 100%;
  src:
    url("/assets/fonts/dm-sans-latin-ext-500-normal.woff2") format("woff2"),
    url("/assets/fonts/dm-sans-latin-ext-500-normal.woff") format("woff");
  unicode-range:
    U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304,
    U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

:root {
  /* Layout & Spacing */
  --width-content: 1400px;
  --space-1: 8px;
  --space-2: 16px;
  --space-3: 24px;
  --space-4: 32px;
  --space-8: 64px;
  --space-16: 128px;

  /* Gaps */
  --gap-xs: var(--space-1);
  --gap-sm: var(--space-2);
  --gap-md: var(--space-4);
  --gap-items: var(--space-4);

  /* Section Padding */
  --section-padding: var(--space-16);
  --section-padding-half: var(--space-8);

  @include breakpoints.down("sm") {
    --gap-items: var(--space-2);
    --section-padding: var(--space-8);
    --section-padding-half: var(--space-4);
  }

  /* Colors */
  --color-bg: #fdfdfd;
  --color-border: transparent;

  /* Typography */
  --font-family-heading: "DM Sans", var(--font-family-heading);
  --font-family-body: "DM Sans", var(--font-family-body);

  /* Borders */
  --border: 1px solid #babbbc;
  --border-radius: 8px;
  --border-radius-small: 8px;
}

h1,
h2,
h3 {
  font-weight: 500;
}

article#content {
  --color-link: #0e5ba7;
  border: none;
  // Offset for anchor links to #content when sticky nav is present
  @include breakpoints.up("md") {
    scroll-margin-top: 120px;
  }
}

article#content,
.full-width,
.footer {
  border-radius: 0;
  display: grid;
  grid-template-columns:
    [left-start]
    0
    [full-width-start]
    50px
    1fr
    [content-start]
    700px
    [left-end]
    0
    [right-start]
    700px
    [content-end]
    1fr
    50px
    [full-width-end]
    0
    [right-end];

  @include breakpoints.down("xl") {
    grid-template-columns:
      [left-start]
      0
      [full-width-start]
      32px
      [content-start]
      1fr
      [left-end]
      0
      [right-start]
      1fr
      [content-end]
      32px
      [full-width-end]
      0
      [right-end];
  }

  @include breakpoints.down("md") {
    grid-template-columns:
      [full-width-start]
      16px
      [content-start]
      1fr
      [content-end]
      16px
      [full-width-end];
  }

  @include breakpoints.down("sm") {
    grid-template-columns:
      [full-width-start]
      8px
      [content-start]
      1fr
      [content-end]
      8px
      [full-width-end];
  }

  & > section {
    @include section-padding;

    &.brands {
      padding: var(--section-padding-half) 0;
    }

    &.homepage-header {
      padding: var(--section-padding-half) 0 var(--space-4) 0;
    }
  }

  & > *:not(.breakout, .full-width) {
    grid-column: content;
    @include breakpoints.up("sm") {
      max-width: min(1400px, calc(100vw - 128px));
    }
    min-width: 0;
  }
  & > .breakout {
    grid-column: breakout;
  }
  & > .full-width {
    grid-column: full-width;
  }
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    font-weight: inherit !important;
  }
}

button,
.button,
input[type="submit"] {
  display: flex;
  padding: 14px 24px;
  justify-content: center;
  gap: 16px;
  align-items: center;
  border-radius: 16px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background: transparent;
  white-space: nowrap;
  box-shadow: none;

  &:hover {
    text-decoration: none;
  }

  &.white {
    @include button-white;
  }

  &.red {
    @include button-red;
  }

  &.blue {
    @include button-blue;
  }
}

body {
  --color-text: #181a1f;
  background: #fafafa;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0;
  &.item {
    article#content {
      background: #fafafa;

      @media screen and (min-width: 769px) {
        .current-image {
          margin-bottom: 8px;
        }
        ul.image-gallery {
          gap: calc(var(--gap-items) / 4);
          li {
            width: calc((100% - 16px) / 3);
          }
        }
      }

      .specs dl {
        display: grid;
        grid-template-columns: 1fr;
        gap: 8px;

        @include breakpoints.up("lg") {
          grid-template-columns: 1fr 1fr;
        }

        & > div {
          display: grid;
          grid-template-columns: 48px 1fr;
          grid-template-areas: "icon key" "icon value";
          padding: 8px;
          gap: 0 16px;
          border-radius: 8px;
          background: #efefef;
          span {
            grid-area: icon;
            justify-self: center;
            align-self: center;
            display: flex;
            height: 22px;
            border-radius: 4px;
            background: #fafafa;
            border: 10px solid #fafafa;
            box-sizing: content-box;
            width: 22px;
            color: #ee3324;
          }
          & > dt,
          & > dd {
            padding: 0;
            margin: 0;
          }
          & > dt {
            grid-area: key;
            font-size: 14px;
          }
          & > dd {
            grid-area: value;
            font-size: 18px;
            font-weight: 500;
          }
        }
      }
      .features ul,
      ul.big-features {
        list-style-type: none;
        padding-left: 0;
        li {
          padding-left: 104px;
          padding-bottom: 8px;
          position: relative;
          &::before {
            content: "";
            width: 24px;
            height: 24px;
            display: block;
            background-image: url("/assets/icons/tick.svg");
            background-position: center center;
            background-repeat: no-repeat;
            background-color: #e1f1f6;
            border-radius: 100%;
            position: absolute;
            left: 64px;
            top: 0;
          }
        }
      }
      .big-specs {
        grid-column: full-width;
        max-width: none;
        background-color: #009dd7;
        color: white;
        @include section-padding;
        padding-left: var(--gap-items);
        padding-right: var(--gap-items);
        line-height: 32px;
        h2 {
          color: white;
        }
        div {
          display: flex;
          flex-direction: row;
          gap: 16px;
          & > dt,
          & > dd {
            padding: 0;
            margin: 0;
          }
          & > dt {
            width: 8rem;
            flex-shrink: 0;
          }
          & > dd {
            text-align: left;
          }
        }
        @include breakpoints.up("lg") {
          grid-area: left;
          padding-left: var(--gap-items);
          padding-right: var(--section-padding-half);
          display: flex;
          flex-direction: column;
          align-items: end;
          div,
          h2 {
            width: min(700px, calc(50vw - (var(--section-padding-half) * 2)));
            color: white;
          }
        }
      }
      .big-features {
        grid-column: full-width;
        max-width: none;
        @include section-padding;
        padding-left: var(--gap-items);
        padding-right: var(--gap-items);
        line-height: 32px;
        @include breakpoints.up("lg") {
          grid-area: right;
          padding-left: 64px;
          padding-right: var(--gap-items);
          display: flex;
          flex-direction: column;
          justify-content: center;
          li {
            width: min(700px, calc(50vw - (var(--section-padding-half) * 2)));
          }
        }
      }
    }
  }
  &.products,
  &.category {
    article#content ul.items li {
      @include card;
      padding: var(--space-4);
    }
  }
  &.locations {
    article#content .cities-we-serve ul.items li {
      @include card;
      width: 367px !important;
      padding-top: 166px;
      gap: 8px;
      .image-link,
      placeholder {
        position: absolute;
        top: 0;
        left: 0;
        width: 367px;
        height: 154px;
        margin: 0;
      }
    }
  }
  & > .cart-icon {
    background: #fafafa;
    &:hover {
      background: #fff;
    }
  }
}

.quote-header {
  @include section-padding;
  text-align: center;
  margin: 0 auto;
  max-width: 500px;
  p {
    text-wrap-style: balance;
  }
}

.quote-footer {
  padding: var(--gap-items);
  display: flex;
  flex-direction: column;
  gap: var(--gap-items);
  ul,
  p {
    padding: 0;
    margin: 0;
  }
  a {
    width: 100%;
    @include button-white;
  }
  ul {
    list-style-type: none;
    li {
      padding: 0 0 8px 40px;
      position: relative;
      &::before {
        content: "";
        width: 24px;
        height: 24px;
        display: block;
        background-image: url("/assets/icons/tick.svg");
        background-position: center center;
        background-repeat: no-repeat;
        background-color: #e1f1f6;
        border-radius: 100%;
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }
}

.quote-steps-progress {
  background: white;
  --color-bg: #009dd7;
  --border: 2px solid #009dd7;
  --color-text: #fff;
  @include card;
  ul {
    justify-content: space-between;
    align-items: flex-end;
    margin: 0;
    padding: 0;
    &::before {
      content: "";
      display: block;
      height: 2px;
      position: absolute;
      background: #009dd7;
      bottom: 16px;
      top: auto;
      left: 12.5%;
      right: 12.5%;
    }
    li {
      width: 25%;
      [data-name="name"] {
        max-width: none;
        text-transform: none;
      }

      &[aria-current="false"] {
        [data-name="index"] {
          color: white;
        }
      }
      &.completed [data-name="index"] {
        color: #999;
      }
    }
  }
}

.quote-step-fields {
  gap: var(--gap-items);
  @include breakpoints.up("sm") {
    & > .field-half {
      width: calc(50% - (calc(var(--gap-items) / 2)));
    }
  }
}

body.one-column .quote-sidebar {
  @include breakpoints.up("lg") {
    width: 430px;
  }
}

.quote-steps-nav {
  border: none;
  margin: 0;
  padding: 0;
  a.button.quote-step-next {
    @include button-red;
  }
}

.quote-price {
  background: #fff;
  padding: 0;
  & > li {
    padding: 0 var(--gap-items) calc(var(--gap-items) / 2);
    &:first-child {
      background: #009dd7;
      color: #fff;
      display: flex;
      padding: var(--gap-items) var(--gap-items) calc(var(--gap-items) / 2);
      flex-direction: column;
      align-items: center;
      margin-bottom: var(--gap-items);
      ul {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        gap: 16px;
      }
    }
    & > ul {
      display: flex;
      flex-direction: column;
      gap: 0;
      padding: 0;
      margin: 0;
      & > li {
        margin: 0;
        padding: 0;
        gap: 8px;

        span[data-field="name"] {
          font-weight: 500;
        }
        span[data-field="total"] {
          font-size: 24px;
          font-weight: 700;
        }
      }
    }
  }
}

.quote-cart {
  @include card;
  background-color: white;
  .quote-cart-item {
    background: #fafafa;
    border: none;
    .quote-cart-item-actions {
      button,
      input {
        border: 1px solid #ccc;
      }
    }
  }
  .quote-cart-actions {
    a.button {
      @include button-red;
    }
  }
}

#top-bar {
  display: flex;
  padding: 3px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  background: #ee3324;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  border: none;

  svg#mic {
    width: 13px;
    height: 12px;
    fill: #fff;
  }
}

body.horizontal-nav main {
  padding: 0;
  border: none;
  width: 100%;

  article {
    padding: 0;
  }

  & > nav {
    border: 0;
    font-size: 14px !important;
    font-weight: 400 !important;
    display: grid;

    a:hover {
      font-weight: 400 !important;
    }

    #logo {
      grid-area: logo;
      width: 53px;
      display: inline-block;
    }

    & > ul {
      grid-area: links;
    }

    #nav-phone {
      grid-area: phone;
    }

    #nav-email {
      grid-area: email;
    }

    #nav-phone,
    #nav-email {
      display: flex;
      align-items: center;
      gap: 8px;
    }

    #nav-quote {
      grid-area: quote;
      border-radius: 5000px;
      background: #009dd7;
      padding: 8px 16px;
      color: #fff;
      font-weight: 500;
      line-height: 24px;
    }

    .cart-icon {
      grid-area: cart;
      position: relative;
      bottom: auto;
      left: auto;
      padding: 0;
      background: transparent;
      color: #ee3324;
      align-self: center;
      span:not(.cart-count) {
        display: none;
      }
      &:hover,
      &:active {
        border: none;
        box-shadow: none;
      }
    }

    @include breakpoints.down("md") {
      // mobile nav
      gap: 0 8px;
      height: auto !important;
      padding-right: 60px !important;
      grid-template-columns: 40px 1fr;
      grid-template-areas:
        "logo phone cart"
        "logo email cart";

      #logo {
        width: 40px;
      }
      #nav-phone {
        align-self: end;
      }
      #nav-email {
        align-self: start;
      }
      #nav-quote {
        display: none;
      }
    }

    @include breakpoints.up("md") {
      // sticky desktop nav
      padding: 8px;
      margin: 32px;
      position: sticky;
      top: 16px;
      z-index: 100;
      background: #fff;
      gap: 16px;
      grid-template-columns: auto 1fr auto auto auto auto;
      grid-template-areas:
        "logo links links links links links"
        "logo .     phone email quote cart";
      align-items: center;
      width: min(1920px, 100vw);
      margin: 22px auto;
    }

    ul & > li & > ul a {
      padding: 4px 0;
    }

    @include breakpoints.up("lg") {
      & > ul {
        justify-content: flex-start !important;

        // Dropdown caret icons for nav items with submenus
        & > li:has(> ul) > a::after {
          content: "";
          display: inline-block;
          width: 10px;
          height: 6px;
          margin-left: 6px;
          vertical-align: middle;
          background-color: currentColor;
          mask-image: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.86941 0.148912C9.68892 -0.0425287 9.38702 -0.0496575 9.19653 0.130338L4.99976 4.10614L0.803467 0.130358C0.612983 -0.0501261 0.311545 -0.0425093 0.130592 0.148931C-0.0503606 0.339884 -0.0422749 0.641322 0.148697 0.822275L4.67261 5.10809C4.76404 5.19477 4.88214 5.23858 4.99976 5.23858C5.11737 5.23858 5.23594 5.19477 5.32738 5.10809L9.8513 0.822275C10.0423 0.641303 10.0504 0.339884 9.86941 0.148912Z' fill='black'/%3E%3C/svg%3E");
          mask-size: contain;
          mask-repeat: no-repeat;
          opacity: 0.6;
          transition: opacity 0.2s ease-in-out;
        }

        & > li:has(> ul):hover > a::after {
          opacity: 1;
        }

        & > li:has(a[href="/events/#content"]):hover {
          & > a {
            font-weight: 700;
          }
          & > ul {
            display: flex;
            flex-direction: row;
            width: 590px;
            justify-content: space-between;
            & > li > ul {
              display: block;
              position: relative;
              left: auto;
              top: auto;
              margin: 0;
              padding: 0;
              border: 0;
              font-weight: 400;
            }
          }
        }
        & > li:has(a[href="/how-we-help/#content"]):hover {
          & > ul {
            width: calc(100vw - 220px);
            left: 80px;
            position: fixed;
            top: 90px;
            gap: 16px;
            flex-wrap: wrap;
            flex-direction: row;
            & > li {
              width: calc(33% - 8px);
              a {
                aspect-ratio: 360/218;
                position: relative;
                overflow: hidden;
                border-radius: 8px;

                .image-wrapper {
                  position: absolute;
                  left: 0;
                  top: 0;
                  width: 100%;
                  height: 100%;
                }
                span {
                  position: absolute;
                  top: 0;
                  left: 0;
                  font-weight: 700;
                  color: #fff;
                  text-shadow: 0px 0px 1px black;
                  background: linear-gradient(
                    0deg,
                    #000 0%,
                    rgba(0, 0, 0, 0) 100%
                  );
                  height: 100%;
                  width: 100%;
                  align-content: flex-end;
                  padding: 16px;
                }
              }
            }
          }
        }
      }
    }

    @include breakpoints.up("xl") {
      grid-template-areas: "logo links phone email quote cart";
    }
  }
}

.google {
  display: grid;
  grid-template-columns: 40px 1fr;
  gap: 0 8px;
  grid-template-areas: "logo header" "logo rating" "logo count";
  font-size: 10px;
  line-height: 15px;
  svg {
    grid-area: logo;
    width: 40px;
    height: 40px;
    align-self: center;
  }
  strong {
    grid-area: header;
  }
  span {
    grid-area: rating;
  }
  a {
    grid-area: count;
  }
}

.homepage-header {
  --background:
    linear-gradient(77deg, #181a1f 27.31%, rgba(24, 26, 31, 0) 80.67%),
    url("/assets/homepage-header-background.jpg");
  --color-text: #fdfdfd;
  --color-link: #fdfdfd;
  --color-link-hover: #fdfdfd;
  @include themed-section;

  background-size: cover;
  position: relative;
  padding-bottom: 0; // handled by slider margin

  .homepage-header-inner {
    display: flex;
    flex-direction: column;
    gap: 0;

    & > * {
      padding: 0;
      margin: 0;
    }
    & > h1 {
      margin: 8px 0 var(--gap-items);
    }
    & > .google {
      margin: var(--section-padding-half) 0 0;
    }
    ul.items.slider {
      margin: var(--section-padding-half) 0
        calc(var(--section-padding-half) / 2);
    }
  }

  h1 {
    max-width: 650px;
    font-size: 52px;
    line-height: 52px;
  }
  .button {
    background: transparent;
    border-color: var(--color-border);
    @include button-white-transparent;
  }
  .items {
    li {
      position: relative;
      width: 270px !important;
      height: 270px;
      margin: 0;
      border-radius: 8px;
      overflow: hidden;
      .image-link {
        width: 270px;
        height: 270px;
        position: absolute;
        top: 0;
        left: 0;
        padding: 0;
        margin: 0;
        background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 0.8) 100%
        );
        &::before {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 270px;
          height: 270px;
          z-index: 2;
          opacity: 0;
          transition: opacity 0.3s ease-in-out;
          background: linear-gradient(
            180deg,
            rgba(238, 51, 36, 0) 0%,
            #ee3324c7 100%
          );
        }
        &:hover::before {
          opacity: 1;
        }
      }
      .image-wrapper,
      img {
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        width: 270px;
        height: 270px;
        padding: 0;
        margin: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
      h3 {
        color: #fafafa;
        position: absolute;
        font-size: 20px;
        line-height: 14px;
        bottom: 0;
        left: 0;
        right: 0;
        width: auto;
        padding: 8px 16px 0;
        min-height: 0;
        height: 30px;
        z-index: 5;
        text-shadow: 1px 0px 2px black;
        text-wrap-mode: nowrap;
      }
      p {
        text-align: right;
      }
    }
  }
  .slider-nav {
    a {
      background-color: #fdfdfd;
      color: #111;
      font-size: 36px;
    }
    @include breakpoints.up("md") {
      position: absolute;
      top: 16px;
      right: 80px;
      display: flex;
      flex-direction: column;
      margin: 0;
    }
  }
}

.homepage-intro {
  & > * {
    max-width: 700px;
    text-align: left;
  }
  h1 {
    @include heading;
  }
  a.button {
    width: 303px;
  }
}

.item-reviews {
  h2 {
    @include heading;
    margin-bottom: var(--section-padding-half);
  }
  p {
    margin: 0;
    padding: 0;
  }
  h3 {
    margin: 0 0 16px;
    padding: 0;
  }
  ul.items.slider {
    margin: var(--gap-items) 0 calc(var(--gap-items) / 2);
  }
}

.testimonials-slider {
  @include section-padding;
  h2 {
    @include heading;
  }
  p {
    margin: 0;
    padding: 0;
  }
  h3 {
    margin: 0 0 16px;
    padding: 0;
  }
  ul.items.slider {
    margin: var(--gap-items) 0 calc(var(--gap-items) / 2);
  }
  @include breakpoints.up("sm") {
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr min-content;
    grid-template-areas:
      "title title"
      "left right"
      "reviews reviews";

    h2 {
      grid-area: title;
    }
    .left {
      grid-area: left;
    }
    .right {
      grid-area: right;
    }
    .slider-container {
      grid-area: reviews;
    }
  }
}

.testimonials-slider,
.item-reviews,
body.reviews {
  ul.items {
    display: flex;
    list-style-type: none;
    padding: var(--gap-items) 0 calc(var(--gap-items) / 2);
    margin: 0 0 calc(var(--gap-items) / 2);
    gap: var(--gap-items);
    flex-direction: row;
    li {
      @include card;
      border-radius: 16px;
      border: 1px solid #989898;
      background: #f3f3f3;
      gap: 16px;
      width: 458px !important;
      display: grid;
      grid-template-areas: "rating" "content" "name" "avatar";

      & > .rating {
        grid-area: rating;
      }
      & > .name {
        grid-area: name;
        font-weight: 500;
      }
      & > blockquote {
        grid-area: content;
        text-align: left;
        color: #1a1a1a;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 125% */
        height: 135px;
        overflow-y: auto;
      }
      & > img {
        grid-area: avatar;
        border-radius: 100%;
        width: 40px;
        border: 2px solid white;
      }

      & > * {
        padding: 0;
        margin: 0;
      }
    }
  }
}

.brands {
  background: #fafafa;

  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  @include breakpoints.down("md") {
    padding: var(--gap-items) 0;
    .row {
      flex-direction: column;
      gap: var(--gap-items);
    }
  }

  h2 {
    padding: 0;
    margin: 0;
    width: 270px;
    flex-shrink: 0;
    font-size: 24px;
    line-height: 32px;
    text-align: left;
    margin-right: calc(var(--gap-items) * 2);

    @include breakpoints.down("md") {
      width: auto;
      text-align: center;
      padding: 0 var(--gap-items);
    }
  }

  .brands-scroll-container {
    flex: 1;
    min-width: 0;
    overflow: hidden;
    position: relative;

    &::before,
    &::after {
      content: "";
      display: block;
      width: 5px;
      position: absolute;
      top: 0;
      bottom: 0;
    }
    &::before {
      left: 0;
      background: linear-gradient(
        90deg,
        rgba(250, 250, 250, 1) 0%,
        rgba(250, 250, 250, 0) 100%
      );
    }
    &::after {
      right: 0;
      background: linear-gradient(
        90deg,
        rgba(250, 250, 250, 1) 0%,
        rgba(250, 250, 250, 1) 100%
      );
    }
  }

  .brands-scroll {
    display: flex;
    width: max-content;
    animation: scroll-brands 40s linear infinite;

    &:hover {
      animation-play-state: paused;
    }

    & > div,
    & > ul {
      display: flex;
      flex-shrink: 0;
    }
  }

  ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-direction: row;
    gap: 96px;
    flex-shrink: 0;

    li {
      flex-shrink: 0;
      display: flex;
      align-items: center;

      .image-wrapper {
        height: 50px;
        width: auto;
        object-fit: contain;
        transition: all 0.3s ease;
        align-content: center;
      }
    }
  }
}

@keyframes scroll-brands {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.delivery-how-it-works {
  @include section-padding;
  .grid {
    display: grid;
    grid-template-areas: "header header" "left right";
    justify-content: center;
    align-items: center;
    gap: var(--gap-items);
    & > h2 {
      grid-area: header;
    }
    & > ol {
      grid-area: left;
    }
    & > .right {
      grid-area: right;
      display: flex;
      flex-wrap: wrap;
      gap: 16px;
      .van {
        width: 100%;
      }
      .machine-1,
      .machine-2 {
        width: calc(50% - 8px);
      }
    }
  }

  @include breakpoints.down("md") {
    .image-wrapper {
      display: none;
    }
  }

  ol {
    @include timeline-list;
  }
}

.homepage-how-it-works {
  @include section-padding;
  --color-text: #fff;
  --color-link: #fff;
  --color-link-hover: #fff;
  --background: #009dd7;
  @include themed-section;

  .row {
    display: flex;
    flex-direction: row;
    gap: var(--section-padding);
    margin: 0 auto;
    width: 100%;
    .left {
      display: flex;
      flex-direction: column;
      gap: var(--section-padding-half);
      width: 50%;
      h2,
      ol {
        max-width: 695px;
      }
    }
    .image {
      display: flex;
      width: 50%;
      margin: 0;
      justify-content: center;
      align-items: center;
    }
    h2 {
      @include heading;
    }
    ol {
      @include timeline-list;
      margin: 0;
    }
    a.button {
      @include button-white;
    }
    .image-wrapper {
      img {
        background: #009dd7;
      }
    }
  }
}

.delivery-intro {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 32px;
  p {
    display: flex;
    flex-direction: row;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.product-delivery-row {
  background: #fafafa;
  h2 {
    margin: 0 0 16px;
  }
  .row {
    position: relative;
    overflow: hidden;

    img {
      display: none;
    }
    .left {
      text-align: left;
      align-content: center;
      padding: var(--section-padding) var(--gap-items);
    }
    @include breakpoints.up("sm") {
      .left {
        width: 60%;
        padding: var(--section-padding) 0 var(--section-padding)
          var(--gap-items);
      }
      img {
        display: block;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 45%;
        height: auto;
        object-fit: contain;
      }
    }
    @include breakpoints.up("lg") {
      .left {
        width: 50%;
        padding-left: var(--section-padding);
      }
      img {
        width: 40%;
      }
    }
  }
}
.delivery-row {
  border-top: 4px solid #ee3324;
  background: #fff;
  h2 {
    margin: 0 0 16px;
  }
  .row {
    img {
      display: none;
    }
    .right {
      text-align: center;
      align-content: center;
      .stats {
        margin: calc(var(--gap-items) * 2) 0 0;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: var(--gap-items);
        padding: 0;
        li {
          padding: 0;
          text-align: center;
          strong {
            font-size: 18px;
            display: block;
          }
        }
      }
    }
    @include breakpoints.up("sm") {
      display: flex;
      position: relative;
      .right {
        width: 50%;
      }
      img {
        display: block;
        width: 50%;
      }
    }
  }
}

.cities-we-serve {
  @include section-padding;
  background: #fff;
  h2 {
    @include heading;
    margin-bottom: 16px;
  }
  p {
    margin: 0 0 64px;
  }
  ul.items {
    gap: calc(var(--gap-items) / 2);
    padding-bottom: 64px;
  }
}

.contact-split {
  display: flex;
  flex-direction: column;
  gap: var(--section-padding-half);
  padding: var(--section-padding-half) 0;

  .contact-content {
    h1 {
      margin-top: 0;
    }
  }

  .contact-form-wrapper {
    form {
      @include card;
      background: white;
    }
  }

  @include breakpoints.up("md") {
    flex-direction: row;
    gap: var(--section-padding);

    .contact-content {
      flex: 1;
    }

    .contact-form-wrapper {
      flex: 1;
      max-width: 450px;
    }
  }
}

.contact-form {
  padding: var(--gap-items);
  label {
    margin-bottom: var(--gap-items);
  }
}

.coverage-warning {
  @include section-padding;
  background: #ee3324;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: var(--gap-items);
  h2,
  p {
    margin: 0;
    max-width: 910px;
    color: #fff;
  }
  h2 {
    @include heading;
  }
  a.button {
    @include button-white;
    color: #ee3324;
    svg {
      fill: #ee3324;
    }
    &.red {
      @include button-red;
      border: 1px solid #fff;
    }
  }
  .actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
    flex-direction: row;
  }
}

#footer-contact-block {
  background-color: white;
  text-align: center;
  max-width: none;
  @include section-padding;
  h2 {
    @include heading;
    margin-bottom: 16px;
  }
  p {
    display: flex;
    gap: 16px;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 680px;
    margin: 0 auto;
    a {
      margin: 0;
    }
  }
  ol.steps {
    max-width: none;
    @include breakpoints.down("lg") {
      padding-left: 0;
      padding-right: 0;
      li {
        border-radius: 0;
      }
    }
  }
}

ul.items {
  gap: calc(var(--gap-items) / 2);
  margin: var(--section-padding-half) 0;
  --color-link: #111;
  @include breakpoints.down("sm") {
    gap: var(--gap-items);
  }
  li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    border-radius: 8px;
    width: 380px !important;
    text-align: left;
    & > * {
      margin: 0;
    }
    h3 {
      font-size: 20px;
      height: 32px;
      overflow: hidden;
    }
    p {
      letter-spacing: 0.3px;
    }
    .image-link,
    placeholder {
      aspect-ratio: 4/3;
      margin: 24px 0;
      width: 100%;
      overflow: hidden;
    }
    .price {
      color: #009dd7;
      font-size: 22px;
      font-weight: 500;

      small {
        font-size: 14px;
        font-weight: 400;
        color: #181a1f;
      }
    }
    .list-item-specs {
      gap: 32px;
      flex-wrap: nowrap;
      margin: calc(var(--gap-items) / 2) 0 var(--gap-items);
      li {
        gap: 0 !important;
        padding: 0 !important;
        border: 0 !important;
        width: auto !important;
        flex-direction: row;
        svg {
          width: 40px;
        }
        span {
          max-width: 180px;
          overflow: hidden;
        }
      }
    }
    // 19px = 64px / 3 rows, ish
    width: calc(33% - 19px);
    @include breakpoints.down("md") {
      // 8px = 16px / 2 rows
      width: calc(50% - 16px);
    }
  }
  &.border {
    border-radius: 16px;
    border: 1px solid #babbbc;
    background: #fafafa;
    padding: 32px;
  }
  .add-to-cart {
    @include button-red;
    width: 100%;
  }
}

ol.steps {
  display: flex;
  gap: calc(var(--gap-items) / 2);
  list-style-type: none;
  flex-wrap: wrap;
  margin: 0;
  padding: calc(var(--section-padding) / 2) 0;
  justify-content: center;

  @include breakpoints.down("lg") {
    flex-direction: column;
  }

  @include breakpoints.up("lg") {
    padding-left: var(--section-padding);
    padding-right: var(--section-padding);
  }

  li {
    @include card;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1 0 0;
    @include breakpoints.up("lg") {
      max-width: 450px;
    }
    span {
      display: flex;
      padding: 4px 8px;
      border-radius: 24px;
      border: 1px solid #babbbc;
    }
    svg {
      width: 64px;
      height: 64px;
      padding: 16px;
      border-radius: 8px;
      fill: #fff;
      background: #009dd7;
      margin-bottom: var(--gap-items);
    }
    h3,
    p {
      padding: 0;
      margin: var(--gap-xs);
    }
    @include breakpoints.down("lg") {
      display: grid;
      grid-template-areas: "icon subtitle" "step subtitle" "title subtitle";
      grid-template-columns: 200px 1fr;
      svg {
        grid-area: icon;
        align-self: end;
        justify-self: center;
      }
      span {
        grid-area: step;
        justify-self: center;
      }
      h3 {
        grid-area: title;
        align-self: start;
      }
      p {
        grid-area: subtitle;
        text-align: left;
      }
    }
  }
}

.faqs-container {
  @include section-padding;
  h2 {
    @include heading;
    text-align: center;
    margin-bottom: 64px;
  }
}

.homepage-products {
  background: #fdfdfd;
  @include section-padding;
  h2 {
    @include heading;
    display: flex;
    gap: calc(var(--gap-items) * 2);
    align-items: center;
    a {
      font-size: 16px;
      font-weight: 500;
      display: flex;
      gap: 8px;
      align-items: center;
      color: var(--color-text);
      svg {
        width: 20px;
        height: 20px;
        fill: var(--color-text);
      }
    }
  }
  li {
    @include card;
    padding: var(--gap-items);
  }
}

.homepage-events {
  background: #fafafa;
  > div {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
  }
  h2 {
    @include heading;
  }
  h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
  }
  p {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
  ul.items {
    gap: var(--gap-items);
    &.slider > * {
      justify-content: flex-start;
    }
    li {
      width: 370px;
    }
  }
}

.footer-bar {
  border-top: 4px solid #ff0004;
}

.products-header {
  padding: var(--section-padding-half) 0;

  h1,
  p {
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

.what-you-get {
  @include section-padding;
  background: #fafafa;
  & > div {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h2 {
    @include heading;
    text-align: center;
    margin-bottom: calc(var(--gap-items) * 2);
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    gap: calc(var(--gap-items) * 2);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
    li {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0 32px;
      width: 310px;
      strong {
        font-size: 20px;
      }
      svg {
        width: 64px;
        height: 64px;
        padding: 16px;
        fill: white;
        border-radius: 8px;
        background: #ff0004;
        flex-shrink: 0;
        align-self: baseline;
      }
    }
  }
}

#footer-contact {
  display: grid;
  grid-template-columns: 50px 1fr;
  gap: 0 var(--gap-sm);
  font-weight: 700;
  padding: var(--section-padding-half) 0;

  #footer-logo {
    aspect-ratio: 42/53;
    grid-area: logo;
  }
  #footer-phone {
    grid-area: phone;
  }
  #footer-email {
    grid-area: email;
  }
  #footer-times {
    grid-area: times;
  }
  #footer-socials {
    grid-area: socials;
  }

  grid-template-areas:
    "logo phone"
    "logo email"
    "logo times"
    "socials socials";

  @include breakpoints.up("md") {
    gap: 0 var(--gap-items);
    grid-template-columns: 50px max-content 1fr;
    grid-template-areas:
      "logo phone email"
      "logo times socials";
  }

  @include breakpoints.up("lg") {
    grid-template-columns: 50px max-content max-content max-content 1fr;
    grid-template-areas: "logo phone email times socials";
    #footer-phone,
    #footer-email,
    #footer-times,
    #footer-socials {
      align-content: center;
    }
  }

  #footer-socials {
    font-weight: 700;
    font-size: 18px;
    display: flex;
    align-items: center;
    margin-top: 16px;
    gap: var(--gap-items);
    justify-content: center;

    @include breakpoints.up("md") {
      margin: 0;
      justify-content: right;
    }

    .socials {
      display: flex;
      padding: 0;
      margin: 0;
      flex-direction: row;
      gap: 8px;
      list-style-type: none;
      img {
        width: 26px;
      }
    }
  }
}

#footer-links-row {
  display: flex;
  flex-direction: column;
  gap: var(--section-padding-half);
  padding-bottom: var(--section-padding-half);
  @include breakpoints.up("md") {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}

#footer-links {
  display: flex;
  flex-direction: column;
  h2 {
    padding: 0;
    margin: 0 0 16px;
  }
  ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  @include breakpoints.up("md") {
    justify-content: flex-start;
    flex-direction: row;
    gap: var(--section-padding-half);
  }
}

.footer-address {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  font-size: 14px;
  li {
    &:not(:first-child, :last-child) {
      &::before {
        content: "- ";
      }
    }
    &:last-child {
      flex-grow: 1;
      text-align: right;
    }
  }
}

.plug {
  font-size: 12px;
}

.faqs {
  @include breakpoints.up("lg") {
    display: flex;
    gap: var(--gap-items);
  }

  .faqs-column {
    flex: 1;
    margin: 0;

    @include breakpoints.up("xl") {
      &:nth-child(1) {
        padding-left: calc(var(--section-padding) * 2);
      }
      &:nth-child(2) {
        padding-right: calc(var(--section-padding) * 2);
      }
    }
  }

  details {
    margin-bottom: 1rem;

    &::details-content {
      display: block;
      overflow: hidden;
      transition:
        content-visibility 0.3s ease-in-out allow-discrete,
        block-size 0.3s ease-in-out;
      block-size: 0;
    }

    &[open]::details-content {
      block-size: auto;
    }
  }

  summary,
  p {
    padding-right: 26px;
  }

  summary {
    position: relative;
    cursor: pointer;
    list-style: none;
    font-weight: 500;

    &::-webkit-details-marker {
      display: none;
    }

    &::after {
      content: "";
      position: absolute;
      top: 8px;
      right: 0;
      width: 16px;
      height: 16px;
      border-radius: 16px;
      background-color: #e1f1f6;
      background-image: url("data:image/svg+xml,%3Csvg width='6' height='3' viewBox='0 0 6 3' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.078 2.915C0.187 3.024 0.368 3.028 0.482 2.925L3 0.649L5.518 2.925C5.632 3.029 5.813 3.024 5.922 2.915C6.03 2.805 6.025 2.633 5.911 2.529L3.196 0.075C3.142 0.025 3.071 0 3 0C2.93 0 2.858 0.025 2.804 0.075L0.089 2.529C-0.025 2.633 -0.03 2.805 0.078 2.915Z' fill='%23009DD7'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;
      transition:
        background-color 0.2s ease-in-out,
        transform 0.2s ease-in-out;
      transform: rotate(180deg);
    }

    &:hover::after,
    &:active::after {
      background-color: #c5e3eb;
    }
  }

  details[open] summary::after {
    transform: rotate(0deg);
  }

  p {
    margin: 0 0 var(--gap-items);
  }
}

.slider {
  padding-bottom: var(--gap-items);
}

// Prevent horizontal overflow on mobile
body {
  overflow-x: hidden;
}

.slider-nav {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin: 0;
  a {
    display: block;
    width: 66px;
    height: 66px;
    font-size: 20px;
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif;
    color: #181a1f;
    border-radius: 100%;
    border: 1px solid #babbbc;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      border-color: #181a1f;
      color: #181a1f;
      background-color: white;
      text-decoration: none;
    }

    &[disabled] {
      color: #babbbc;
    }
  }
}

div.fun-pro-item {
  background: #fafafa;

  & > * {
    padding: 0;
    margin: 0;
  }

  .item-breadcrumbs {
    grid-area: breadcrumbs;
    margin: 0 0 calc(var(--gap-items) / 2);
  }
  .item-reviews-header {
    grid-area: reviews-header;
    p {
      margin: 0 0 var(--gap-items);
    }
  }
  .item-title {
    grid-area: title;
    margin: 0 0 calc(var(--gap-items) / 4);
  }
  .item-subtitle {
    grid-area: subtitle;
    margin: 0 0 var(--gap-items);
  }
  .item-price {
    grid-area: price;
    margin: 0 0 calc(var(--gap-items) / 2);
  }
  .item-specs {
    grid-area: specs;
    margin: 0 0 var(--gap-items);
    dl {
      margin: 0;
    }
  }
  .item-features {
    grid-area: features;
    margin: 0 0 var(--gap-items);
  }
  .item-cart-buttons {
    grid-area: cart-buttons;
    margin: 0 0 var(--gap-items);

    .add-to-cart {
      @include button-red;
      width: 100%;
    }
  }
  .item-gallery {
    grid-area: gallery;
    margin: 0 0 var(--section-padding-half);
  }
  .item-description {
    grid-area: description;
    margin: 0 0 var(--gap-items);
  }
  .item-tabs {
    grid-area: tabs;
    margin: 0 0 var(--section-padding);
  }
  .item-reviews {
    grid-area: reviews;
    margin: 0 0 var(--section-padding);
  }
  .item-faqs {
    grid-area: faqs;
    margin: 0 0 var(--section-padding);
  }

  .inner {
    grid-column: full-width;
    padding: 0 8px;
    max-width: none;

    @include breakpoints.up("sm") {
      padding: 0 16px;
    }

    @include breakpoints.up("lg") {
      padding: 0 32px;
      display: grid;
      gap: 0 64px;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(13, auto);
      grid-template-areas:
        "breadcrumbs breadcrumbs"
        "gallery     reviews-header"
        "gallery     title"
        "gallery     subtitle"
        "gallery     price"
        "gallery     specs"
        "gallery     features"
        "gallery     description"
        "gallery     cart-buttons"
        "gallery     ."
        "tabs        tabs"
        "reviews     reviews"
        "faqs        faqs";
    }
  }
  #tabs {
    @include card;
    background: white;
    height: 550px;

    & > ul {
      height: 100%;
      grid-template-rows: 32px 1fr;
      padding: 0;
    }

    .tab {
      width: fit-content;
      align-content: center;
      a {
        border-bottom: 2px solid transparent;
        transition: border-color 0.3s ease-in-out;
      }
      &.active a,
      a:active,
      a:hover {
        border-bottom-color: #009dd7;
        text-decoration: none;
      }
    }
    .body {
      height: calc(100% - var(--section-padding-half));
      gap: var(--section-padding-half);
    }
  }
}
