<label for="{{ field.name }}"{% if field.fieldClass %} class="{{ field.fieldClass }}"{% endif %}>
  {{ field.label }}
  <select
    id="{{ field.name }}"
    name="{{ field.name }}"
    {%- if field.required %} required{%- endif %}
  >
    <option value="" disabled selected>Select an option</option>
    {%- for option in field.options -%}
      <option
        value="{% if option.value %}{{ option.value }}{% else %}{{ option }}{% endif %}"
        {%- if option.sameDayPrice != nil %} data-same-day-price="{{ option.sameDayPrice }}"{% endif %}
        {%- if option.multipleDayPrice != nil %} data-multiple-day-price="{{ option.multipleDayPrice }}"{% endif %}
      >{% if option.label %}{{ option.label }}{% else %}{{ option }}{% endif %}</option>
    {%- endfor -%}
  </select>
  {%- include "form-field-note.html" -%}
</label>
