<head>
  {%- include "head-meta.html" -%}

  {%- assign css_bundle = layout | getCssBundle: config.design_system_layouts -%}

  <link
    rel="stylesheet"
    href="{{ css_bundle | cacheBust }}"
  >

  {%- include "js-config-script.html" -%}

  {%- include "bundle-script.html" -%}

  {%- if collections.news.size > 0 -%}
    <link
      rel="alternate"
      type="application/atom+xml"
      href="/feed.xml"
      title="News"
    >
  {%- endif -%}

  {%- include "head-schema.html" -%}

  {%- include "head-scripts.html" -%}
</head>
