{%- if highlights -%}
  {%- assign specs_to_show = highlighted_specs -%}
{%- else -%}
  {%- assign specs_to_show = specs -%}
{%- endif -%}
{%- if specs_to_show -%}
  <dl class="specs-grid">
    {%- for spec in specs_to_show -%}
      <div class="spec-badge">
        {%- if spec.icon -%}{%- include "design-system/icon-badge.html", icon: spec.icon -%}{%- endif -%}
        <div class="spec-content">
          <dt>{{ spec.name }}</dt>
          <dd>{{ spec.value | newline_to_br }}</dd>
        </div>
      </div>
    {%- endfor -%}
  </dl>
{%- endif -%}
