{%- if item.data.tags contains "team" -%}
  {%- assign _aspect_ratio = "1/1" -%}
{%- else -%}
  {%- assign _aspect_ratio = config.products.item_list_aspect_ratio -%}
{%- endif -%}
{%- if item.data.thumbnail -%}
  {%- assign _list_image = item.data.thumbnail -%}
{%- elsif config.placeholder_images -%}
  {%- assign _list_image = item.url | thumbnailPlaceholder -%}
{%- endif -%}
{%- if _list_image -%}
  <a class="image-link" href="{{ item.url }}{{ config.internal_link_suffix }}" aria-hidden="true" tabindex="-1">
    {%- image _list_image, "", "", "", "", _aspect_ratio -%}
  </a>
{%- endif -%}
