{%- assign posts = collections.news -%}
<div class="design-system">
  <ul class="items">
    {%- for post in posts limit: limit -%}
    <li>
      {%- if post.data.thumbnail -%}
        <a class="image-link" href="{{ post.url }}{{ config.internal_link_suffix }}">
          {%- image post.data.thumbnail, post.data.title, "200, 300, 400", "", "", "4/3" -%}
        </a>
      {%- endif -%}
      <h3><a href="{{ post.url }}{{ config.internal_link_suffix }}">{{ post.data.header_text | escape }}</a></h3>
      <p>{{ post.date | date: "%b %-d, %Y" }}</p>
      {% if post.data.subtitle and post.data.subtitle != "" %}
        <p>{{ post.data.subtitle | escape }}</p>
      {% endif %}
    </li>
    {%- endfor -%}
  </ul>
</div>
