
<section class="testimonials-slider">
  <h2>Hear What Our Clients Have To Say</h2>
  <div class="left">
    <h3>Customer Reviews on Google</h3>
    <p class="rating">
      ⭐⭐⭐⭐⭐ 5.0 rating -
      <a href="/testimonials/">{{ collections.reviews.size }} reviews</a>
    </p>
  </div>

  {%- assign reviews = collections.reviews -%}
  <div class="slider-container">
    <ul class="items slider">
      {%- include "homepage-testimonials.html" -%}
    </ul>
    <p class="slider-nav" aria-hidden="true">
      <a href="#" class="slider-prev" disabled="">←</a>
      <a href="#" class="slider-next">→</a>
    </p>
  </div>
</section>
