<ul>
  <li><img widths="50,100,150" src="/images/partners/adidas.jpg" alt="Adidas"></li>
  <li><img widths="50,100,150" src="/images/partners/amazon.png" alt="Amazon"></li>
  <li><img widths="50,100,150" src="/images/partners/boots.png" alt="Boots"></li>
  <li><img widths="50,100,150" src="/images/partners/bristol-street-motors.png" alt="Bristol Street Motors"></li>
  <li><img widths="50,100,150" src="/images/partners/british-telecoms.jpg" alt="British Telecoms"></li>
  <li><img widths="50,100,150" src="/images/partners/coventry-city-football-club.png" alt="Coventry City Football Club"></li>
  <li><img widths="50,100,150" src="/images/partners/coventry-university.png" alt="Coventry University"></li>
  <li><img widths="50,100,150" src="/images/partners/eucerin.jpg" alt="Eucerin"></li>
  <li><img widths="50,100,150" src="/images/partners/forever-living.png" alt="Forever Living"></li>
  <li><img widths="50,100,150" src="/images/partners/jd-sports.png" alt="JD Sports"></li>
  <li><img widths="50,100,150" src="/images/partners/jlr.png" alt="JLR"></li>
  <li><img widths="50,100,150" src="/images/partners/kpmg.png" alt="KPMG"></li>
  <li><img widths="50,100,150" src="/images/partners/land-rover.png" alt="Land Rover"></li>
  <li><img widths="50,100,150" src="/images/partners/mib.png" alt="MIB"></li>
  <li><img widths="50,100,150" src="/images/partners/move-reports.jpg" alt="Move Reports"></li>
  <li><img widths="50,100,150" src="/images/partners/nfu-mutual.png" alt="NFU Mutual"></li>
  <li><img widths="50,100,150" src="/images/partners/plumbase.png" alt="Plumbase"></li>
  <li><img widths="50,100,150" src="/images/partners/rant-and-rave.png" alt="Rant and Rave"></li>
  <li><img widths="50,100,150" src="/images/partners/red-bull-racing.jpg" alt="Red Bull Racing"></li>
  <li><img widths="50,100,150" src="/images/partners/rolls-royce.png" alt="Rolls-Royce"></li>
  <li><img widths="50,100,150" src="/images/partners/selfridges-and-co.png" alt="Selfridges and Co"></li>
  <li><img widths="50,100,150" src="/images/partners/sheffield-auto-spares.png" alt="Sheffield Auto Spares"></li>
  <li><img widths="50,100,150" src="/images/partners/stuart-turner.png" alt="Stuart Turner"></li>
  <li><img widths="50,100,150" src="/images/partners/suzuki.png" alt="Suzuki"></li>
  <li><img widths="50,100,150" src="/images/partners/the-university-of-warwick.png" alt="The University of Warwick"></li>
  <li><img widths="50,100,150" src="/images/partners/ubisoft.png" alt="Ubisoft"></li>
  <li><img widths="50,100,150" src="/images/partners/virgin-media-o2.jpg" alt="Virgin Media O2"></li>
  <li><img widths="50,100,150" src="/images/partners/virgin-trains.png" alt="Virgin Trains"></li>
  <li><img widths="50,100,150" src="/images/partners/wasps.png" alt="Wasps"></li>
</ul>
