{%- if faqs.size > 0 -%}
  {%- assign half = faqs.size | plus: 1 | divided_by: 2 -%}
    <h2>Frequently Asked Questions</h2>
    <div class="faqs">
      <dl class="faqs-column">
      {%- for faq in faqs limit: half -%}
      <details>
        <summary><h3>{{ faq.question }}</h3></summary>
        <p>{{ faq.answer }}</p>
      </details>
      {%- endfor -%}
    </dl>
    <dl class="faqs-column">
      {%- for faq in faqs offset: half -%}
      <details>
        <summary><h3>{{ faq.question }}</h3></summary>
        <p>{{ faq.answer }}</p>
      </details>
      {%- endfor -%}
    </dl>
  </div>
{%- endif -%}
