<link rel="icon" type="image/png" href="/favicon.png" />

<!-- Preload fonts -->
<link
  rel="preload"
  href="/assets/fonts/dm-sans-latin-400-normal.woff2"
  as="font"
  type="font/woff2"
  crossorigin
/>
<link
  rel="preload"
  href="/assets/fonts/dm-sans-latin-400-normal.woff"
  as="font"
  type="font/woff"
  crossorigin
/>
<link
  rel="preload"
  href="/assets/fonts/dm-sans-latin-500-normal.woff2"
  as="font"
  type="font/woff2"
  crossorigin
/>
<link
  rel="preload"
  href="/assets/fonts/dm-sans-latin-500-normal.woff"
  as="font"
  type="font/woff"
  crossorigin
/>
<link
  rel="preload"
  href="/assets/fonts/dm-sans-latin-700-normal.woff2"
  as="font"
  type="font/woff2"
  crossorigin
/>
<link
  rel="preload"
  href="/assets/fonts/dm-sans-latin-700-normal.woff"
  as="font"
  type="font/woff"
  crossorigin
/>


<script src="/assets/js/nav.js" async defer></script>

<script
  data-goatcounter="https://analytics.funprouk.co.uk/count"
  async=""
  src="https://analytics.funprouk.co.uk/count.js"
></script>
