
<div class="product-delivery-row full-width">
  <div class="row">
    <div class="left">
      <h2>As a nationwide hire company, we can provide everything you need for your party or event.</h2>
      <p>
        We offer delivery throughout the UK on request, including Exeter, Cardiff, Bristol, Birmingham including the NEC and ICC Arena,, Reading, Oxford, Swindon, London, Coventry which include the CBS Arena, Nottingham, Leicester, Telford, Leeds, Milton Keynes and Sheffield.
      </p>
      <p>
        <strong>We are able to cover the whole of the UK on request.</strong>
      </p>
      <p>
        Minimum order Value and delivery fees apply to all locations. For all enquiries please complete our enquiry form and one of our team will get back.
      </p>
    </div>
    <img src="/assets/uk.png" eleventy:ignore alt="" />
  </div>
</div>
