<li>
  <blockquote>{{- review.content -}}</blockquote>
  <span class="rating" aria-hidden="true">⭐⭐⭐⭐</span>
  {%- if review.data.url and review.data.url != "" -%}
    <a href="{{ review.data.url }}">{{ "icons/google.svg" | inline_asset }}</a>
  {%- endif -%}
  <span class="name">{{- review.data.name -}}</span>
  {%- if review.data.thumbnail -%}
    <img src="{{ review.data.thumbnail }}" alt="" class="reviewer-avatar" width="80" height="80" loading="lazy">
  {%- else -%}
    <span class="reviewer-avatar"></span>
  {%- endif -%}
</li>
