<li>
  <blockquote>{{- review.content -}}</blockquote>
  <span class="rating" aria-hidden="true">⭐⭐⭐⭐⭐</span>
  {%- if review.data.url and review.data.url != "" -%}
  <a href="{{ review.data.url }}">{{ "icons/google.svg" | inline_asset }}</a>
  {%- endif -%}
  <span class="name">{{- review.data.name -}}</span>
  {%- if review.data.thumbnail -%}
  <img
    src="{{ review.data.thumbnail }}"
    alt=""
    class="reviewer-avatar"
    width="40"
    height="40"
    loading="lazy"
  />
  {%- else -%}
  <img
    src="{{ review.data.name | reviewerAvatar }}"
    alt=""
    class="reviewer-avatar"
    width="40"
    height="40"
  />
  {%- endif -%}
</li>
