<!DOCTYPE html>
<html lang="en">
{% include "head.html" %}
<body class="{{ layout | getBodyClasses: config, body-classes, featured, page.url }}">
  {%- include "body-scripts.html" -%}
  {%- include "header.html" -%}
  <main>
    {%- include "navigation.html" -%}
    <article class="content" id="content"{% if pagefind_body %} data-pagefind-body{% endif %}>
      {%- if config.show_breadcrumbs and page.url != "/" -%}
        {%- include "breadcrumbs.html" -%}
      {%- endif -%}
      {{- content -}}
    </article>
    {%- if "src/snippets/right-content.md" | file_exists -%}
      <article class="right">
        {%- render_snippet "right-content" -%}
      </article>
    {%- endif -%}
    {%- assign footer_snippet_data = "footer-content" | snippet_data -%}
    {%- if footer_snippet_data.blocks -%}
      <div class="design-system">
        {%- include "design-system/blocks.html", blocks: footer_snippet_data.blocks -%}
      </div>
    {%- endif -%}
  </main>
  {%- include "footer.html" -%}
  {%- include "theme-switcher.html" -%}
  {%- include "cart-icon.html" -%}
  {%- include "cart-overlay.html" -%}
  {%- include "image-popup.html" -%}
  {%- include "client-templates.html" -%}
  {% slot "templates" %}
</body>
</html>
