<!DOCTYPE html>
<html lang="en">
<head>
  {%- include "head-meta.html" -%}

  <link
    rel="stylesheet"
    href="{{ '/css/design-system-bundle.css' | cacheBust }}"
  >

  {%- include "js-config-script.html" -%}

  {%- include "bundle-script.html" -%}

  {%- include "head-schema.html" -%}

  {%- include "head-scripts.html" -%}
</head>
<body class="design-system {{ layout | getBodyClasses: config, body-classes, featured, page.url }}">
  {%- include "body-scripts.html" -%}
  {%- unless no_navigation -%}
    {%- include "navigation.html" -%}
  {%- endunless -%}
  <main{% if pagefind_body %} data-pagefind-body{% endif %}>
    {%- if config.show_breadcrumbs and page.url != "/" -%}
      {%- include "breadcrumbs-nav.html" -%}
    {%- endif -%}
    {%- if blocks -%}
      {%- include "design-system/blocks.html", blocks: blocks -%}
      {%- assign has_content_block = blocks | where: "type", "content" | size -%}
      {%- if has_content_block == 0 and content != "" -%}
        <section><div class="container-wide">
        {{- content -}}
        </div></section>
      {%- endif -%}
    {%- else -%}
      {{- content -}}
    {%- endif -%}
    {%- assign footer_snippet_data = "footer-content" | snippet_data -%}
    {%- if footer_snippet_data.blocks -%}
      {%- include "design-system/blocks.html", blocks: footer_snippet_data.blocks -%}
    {%- endif -%}
  </main>
  {%- include "design-system/footer.html" -%}
  {%- include "image-popup.html" -%}
  {%- include "client-templates.html" -%}
  {%- include "theme-switcher.html" -%}
  {%- include "cart-icon.html" -%}
  {%- include "cart-overlay.html" -%}
</body>
</html>
