---
layout: base
---

<div class="prose">{{ content }}</div>

{% if collections.upcomingEvents.size > 0 %}
  <h2>Upcoming {{ strings.event_name }}</h2>
  {%- include "items.html", items: collections.upcomingEvents -%}
{% endif %}

{% if collections.regularEvents.size > 0 %}
  <h2>Regular {{ strings.event_name }}</h2>
  {%- include "items.html", items: collections.regularEvents -%}
{% endif %}

{% if collections.pastEvents.size > 0 %}
  {% if collections.upcomingEvents.size > 0 or collections.regularEvents.size > 0 %}
    <hr>
  {% endif %}
  <h2>Past {{ strings.event_name }}</h2>
  {%- include "items.html", items: collections.pastEvents -%}
{% endif %}

{% if collections.undatedEvents.size > 0 %}
  {%- include "items.html", items: collections.undatedEvents -%}
{% endif %}
