---
layout: base
---

<div class="prose">{{ content }}</div>

<ul>
  {%- assign taglist = collections[tag] -%}
  {%- for page in taglist | sort: "data.header_text" -%}
    {%- if page.url and page.data.no_index != true -%}
      <li>
        <a href="{{ page.url }}">
          {%- if page.data.layout == "news-post.html" -%}
            {{- page.date | date: "%b %-d, %Y" }}:
          {% endif -%}
          {{ page.data.header_text -}}
        </a>
        {%- if page.data.subtitle -%}
          <br>
          {{- page.data.subtitle -}}
        {%- endif -%}
      </li>
    {%- endif -%}
  {%- endfor -%}
</ul>
