.map-embed {
  display: block;
  position: relative;
  width: 100%;
  aspect-ratio: 16/9;
  border: var(--border);
  border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: var(--box-shadow);
  margin: 2rem 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
  }
}