---
layout: base
---

{% assign reviews = collections.reviews %}

<section class="homepage-header full-width">
  <div class="homepage-header-inner">
    <p>{{ homepage.header.subtitle }}</p>
    <h1>{{ homepage.header.title }}</h1>
    <p>
      <a href="{{ homepage.header.button_url }}" class="button">
        {{ homepage.header.button_text }} {{ "icons/up-right-arrow.svg" | inline_asset }}
      </a>
    </p>
    {%- include "google-rating.html" -%}
    <div class="slider-container">
      <ul class="items slider">
        <li class="all-products">
          <a class="image-link" href="/products/" aria-hidden="true" tabindex="-1">
            {% image homepage.header.all_products_image, "", "", "", "", config.products.item_list_aspect_ratio %}
          </a>
          <h3><a href="/products/">All Products</a></h3>
        </li>
        {%- for item in collections.featuredCategories -%}
          {%- include "homepage-category-item.html" -%}
        {%- endfor -%}
      </ul>
      {% include "slider-nav.html" %}
    </div>
  </div>
</section>

<section class="homepage-intro">
  <h2>{{ homepage.intro.title }}</h2>
  {% assign paragraphs = homepage.intro.text | split: "\n\n" %}
  {% for paragraph in paragraphs %}
    <p>{{ paragraph }}</p>
  {% endfor %}
  <p>
    <a href="{{ homepage.intro.button_url }}" class="button red">{{ homepage.intro.button_text }}</a>
  </p>
</section>

{% include "testimonials-slider.html" %}

{% include "video-row.html" %}

{% include "brands-slider.html" %}

<section class="full-width homepage-how-it-works">
  <div class="row">
    <div class="left">
      <h2>{{ homepage.how_it_works.title }}</h2>
      <ol>
        {%- for step in homepage.how_it_works.steps -%}
        <li>
          <h3>{{ step.title }}</h3>
          <p>{{ step.text }}</p>
        </li>
        {%- endfor -%}
      </ol>
      <a href="{{ homepage.how_it_works.button_url }}" class="button white">
        {{ homepage.how_it_works.button_text }} {{ "icons/up-right-arrow.svg" | inline_asset }}
      </a>
    </div>
    <div class="image">
      <img src="{{ homepage.how_it_works.image }}" alt="" />
    </div>
  </div>
</section>

<section class="homepage-products full-width">
  <h2>
    <span>{{ homepage.popular_games.title }}</span>
    <a href="{{ homepage.popular_games.link_url }}">
      {{ homepage.popular_games.link_text }} {{ "icons/up-right-arrow.svg" | inline_asset }}
    </a>
  </h2>
  {%- include "items.html", items: collections.featuredProducts, horizontal: true -%}
</section>

<section class="homepage-events full-width">
  <h2>{{ homepage.events.title }}</h2>
  {%- include "items.html", items: collections.featuredEvents, horizontal: true -%}
</section>
