---

layout: base
---

{% assign reviews = collections.reviews | getReviewsFor: page.fileSlug, tags %}
{% assign rating = collections.reviews | getRating: page.fileSlug, tags %}
{% if reviews.size == 0 %}
  {% assign reviews = collections.reviews %}
  {% assign rating = 5 %}
{% endif %}


<div class="full-width fun-pro-item">
  <div class="inner">
    <div class="item-breadcrumbs">
      {% include "breadcrumbs.html" %}
    </div>
    <h1 class="item-title">{{ title }}</h1>
    <h2 class="item-subtitle">{{ subtitle }}</h2>
    <div class="item-gallery">
      {% include "item-gallery.html" %}
    </div>
    {%- if rating -%}
      <div class="item-reviews-header">
        <span>{{ rating | ratingToStars }} <strong>{{ rating }} stars</strong> ({{ reviews.size }} reviews)</span>
        <span><a href="#reviews" class="all">See all reviews</a></span>
      </div>
    {%- endif -%}
    <div class="item-price">
      <h2>From {{ price }} <small>exc. VAT</small></h2>
      <p>Final pricing based on your event date and location</p>
    </div>
    <div class="item-specs specs design-system">
      {% include "item-specifications-list.html", highlights: true %}
    </div>
    <div class="item-features features">
      {% include "item-features-list.html" %}
    </div>
    <div class="item-description">
      {{ content }}
    </div>
    {%- if videos.size > 0 -%}
    <div class="item-videos video-row">
      <div class="inner design-system">
        {%- include "design-system/video-cards.html", videos: videos -%}
      </div>
    </div>
    {%- endif -%}
    <div class="item-cart-buttons">
      <a href="#branding" class="button">+ Add Custom Branding</a>
      {% include "product-options.html" %}
    </div>
    <div class="item-tabs">
      {% include "tabs.html" %}
    </div>
    {%- if reviews.size > 0 -%}
    <div class="item-reviews">
        <h2>Hear What Our Clients Have To Say</h2>
        <h3>Customer Reviews on Google</h3>
        <p>
          ⭐⭐⭐⭐ 5.0 rating -
          <a href="/testimonials/">{{ reviews.size }} reviews</a>
        </p>
        <div class="slider-container">
          <ul class="items slider">
            {%- include "homepage-testimonials.html" -%}
          </ul>
          <p class="slider-nav" aria-hidden="true">
            <a href="#" class="slider-prev" disabled="">←</a>
            <a href="#" class="slider-next">→</a>
          </p>
        </div>
    </div>
    {%- endif -%}
    {%- if faqs.size > 0 -%}
    <div class="item-faqs">
      {%- include "faq.html" -%}
    </div>
    {%- endif -%}
  </div>
</div>


{% include "brands-slider.html" %}

{% if add_ons and add_ons.intro %}
  {% include "product-add-ons.html" %}
{% endif %}

{%- if specs -%}
  <div class="big-specs">
    <h2>Specifications</h2>
    <dl>
      {%- for spec in specs -%}
        <div>
          <dt>{{ spec.name }}</dt>
          <dd>{{ spec.value }}</dd>
        </div>
      {%- endfor -%}
    </dl>
  </div>
{%- endif -%}
{%- if features and features.size > 0 -%}
  <div class="big-features">
    <h2>What's Included</h2>
    <ul>
      {%- for feature in features -%}
        <li>{{ feature }}</li>
      {%- endfor -%}
    </ul>
    <p>Everything you need for a stress-free experience. Just tell us where and when.</p>
    <p>
      <button
        class="add-to-cart red"
        data-item="{{ cart_attributes }}"
      >+ Add To Quote</button>
    </p>
  </div>
{%- endif -%}

{%- include "product-location.html" -%}

<section class="item-events full-width">
  <h2>Perfect For</h2>
  {%- include "items.html", items: collections.featuredEvents, horizontal: true -%}
</section>
