---

layout: base
---

<div class="full-width fun-pro-item">
  <div class="inner" style="
    grid-template-areas:
      'breadcrumbs breadcrumbs'
      'gallery     reviews-header'
      'gallery     title'
      'gallery     subtitle'
      'gallery     price'
      'gallery     specs'
      'gallery     features'
      'gallery     description'
      'gallery     cart-buttons'
      'gallery     .'
      'tabs        tabs'
      'reviews     reviews'
      'faqs        faqs'
      'big-specs   big-features';
  ">
    <div style="grid-area: breadcrumbs">
      {% include "item-category-links.html" %}
      {% include "item-event-categories.html" %}
    </div>
    <h1 style="grid-area: title">{{ title }}</h1>
    <h2 style="grid-area: subtitle">{{ subtitle }}</h2>
    <div style="grid-area: gallery">
      {% include "item-gallery.html" %}
    </div>
    <div style="grid-area: reviews-header">
      {% include "item-reviews-count.html" %}
    </div>
    <h2 style="grid-area: price">{{ price }}</h2>
    <div style="grid-area: specs" class="specs">
      {% include "item-specifications-list.html" %}
    </div>
    <div style="grid-area: features" class="features">
      {% include "item-features-list.html" %}
    </div>
    <div style="grid-area: description">
      {{ content }}
    </div>
    <div style="grid-area: cart-buttons">
      {% include "product-options.html" %}
    </div>
    <div style="grid-area: tabs">
      {% include "tabs.html" %}
    </div>
    <div style="grid-area: reviews">
      {% include "item-reviews-section.html" %}
    </div>
    <div style="grid-area: faqs">
      {%- include "faq.html" -%}
    </div>
    {%- if specs -%}
      <dl style="grid-area: big-specs">
        {%- for spec in specs -%}
          <div>
            <dt>{{ spec.name }}</dt>
            <dd>{{ spec.value }}</dd>
          </div>
        {%- endfor -%}
      </dl>
    {%- endif -%}
    {%- if features and features.size > 0 -%}
      <ul style="grid-area: big-features">
        {%- for feature in features -%}
          <li>{{ feature }}</li>
        {%- endfor -%}
      </ul>
    {%- endif -%}
  </div>
</div>
