---
layout: base
---

{% include "breadcrumbs.html" %}

{{ content }}

{%- include "faq.html" -%}

{%- assign locationSlug = page.fileSlug -%}
{%- assign services = collections.locations | where: "data.parentLocation", locationSlug -%}

{%- if services.size > 0 -%}
  <h2>Our Services in {{ title }}</h2>
  {%- include "items.html", items: services -%}
{%- endif -%}

{%- assign locationProducts = collections.products | getProductsByCategories: categories -%}
{%- if locationProducts.size > 0 -%}
  <h2>{{ strings.product_name }} in {{ title }}</h2>
  {%- include "items.html", items: locationProducts -%}
{%- endif -%}

{%- assign locationProperties = collections.properties | getPropertiesByLocation: locationSlug -%}
{%- if locationProperties.size > 0 -%}
  <h2>{{ strings.property_name }} in {{ title }}</h2>
  {%- include "items.html", items: locationProperties -%}
{%- endif -%}

{%- assign otherServices = collections.locations | getSiblingLocations: parentLocation, page.url -%}
{%- if otherServices.size > 0 -%}
  <h2>Other Locations</h2>
  {%- include "items.html", items: otherServices -%}
{%- endif -%}
